* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(90deg, #738b96,#adc8d2,#738b96);background: linear-gradient(90deg, #738b96,#adc8d2,#738b96);
    color: #000;
}

.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 15px;
}

/* голова header */
header {
    background:#738b96;
    padding: 20px 0;
    margin-bottom: 50px;
}

.header-inner {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin: 0 30px;
    text-decoration: none;
}

nav a:hover {
    color: #a6a6a6;
}

/* маин - главное */

.main-inner {
    position: relative;
    height: 800px;
    background: url(../assets/images/1000melochey_small.png) center/cover no-repeat;
    border-radius: 30px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.main-inner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.main-inner h1,
.subtitle,
.main-buttons {
    position: relative;
    z-index: 2;
}

.main-inner h1 {
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}

/* кнопки */
.main-buttons {
    display: flex;
    gap: 25px;
}

.btn {
    padding: 16px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background: #c62828;
    color: #fff;
}

.btn-outline {
    background: transparent;
    border: 2px solid #fff;
}

/* секции */
section {
    margin-bottom: 120px;
}

section h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
    text-align: center
}

/* о нас */
.about p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.8;
    max-width: 1100px;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto 25px auto;
}

/* ссылка на каталог */
.catalog-link {
    text-align: center;
}

.catalog-link a {
    font-size: 52px;
    font-weight: 900;
    color: #000;
    text-decoration: none;
}

.catalog-link a:hover {
    text-decoration: underline;
}

/* преимущества */
.advantages ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.advantages li {
    background: whitesmoke;
    border-radius: 20px;
    padding: 25px 20px 25px 55px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

.advantages li::before {
    content: "✔";
    position: absolute;
    left: 20px;
    color: #1fa84f;
    font-size: 26px;
    font-weight: 900;
}

/* контакт инфа , адрес и время в таблице */
.contacts {
    text-align: center;
    margin-bottom: 120px;
}

.contacts h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 30px;
}

.contacts-inner {
    background: whitesmoke;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.contacts-inner p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}


/* низ */
.footer {
    background: #5e6e76;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}
